<!DOCTYPE html>
<html>
  <head>
    <title>Mneneapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-default">
        <div class="navbar-collapse">
          <%= link_to 'Home', root_path %>
          <%= link_to 'About', about_path %>
          <%= link_to 'Contact', contact_path %>
        </div>
      </nav>
    </header>
    <%= yield %>
    <hr>
    <footer>&copy 2017 Mnene Science Students Association</footer>
  </body>
</html>
